.vs/*
.cache/*
.idea/*

tracy/*

core/include/sc_options.hpp

compile_commands.json

build/*
build-*/

Release/*
Debug/*
Profile/*
staging-*/

modules/*
!modules/CMakeLists.txt
!modules/compute
!modules/default
!modules/triangle
!modules/sprites

*.spv
