.vs/*
.cache/*

tracy/*

core/include/options.hpp

compile_commands.json

build/*
Release/*
Debug/*
Profile/*
staging-*/

modules/*
!modules/CMakeLists.txt
!modules/default
!modules/imgui_demo
!modules/sprite_demo
!modules/text_demo

core/shaders/vk/*spv
